@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #F9FAFB;
  background: #0A0A0A;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
